CELERY_BROKER_URL=redis://<REDIS_HOST>:<REDIS_PORT>/0
CELERY_RESULT_BACKEND=redis://<REDIS_HOST>:<REDIS_PORT>/0
STORAGE_DIRECTORY=<STORAGE_DIRECTORY>
CSV_CHUNK_SIZE=<CSV_CHUNK_SIZE>
CSV_MAX_CHART_POINTS=<CSV_MAX_CHART_POINTS>
CSV_MAX_EXACT_MEDIAN_VALUES=<CSV_MAX_EXACT_MEDIAN_VALUES>
CSV_MAX_MEDIAN_SAMPLE_SIZE=<CSV_MAX_MEDIAN_SAMPLE_SIZE>
